<h1>Listing Articles</h1>

<%= link_to 'New Article', new_article_path %>
<%= link_to 'Home', root_url %>

<h4>Search:</h4>
  <%= form_tag(articles_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
  
<p>
  <h4>Sort by:</h4>
  <%= form_tag(articles_path, method: :get) do %>
    <%= radio_button_tag(:sort, "asc") %>
    <%= label_tag(:sort_asc, "Oldest First") %>
    <%= radio_button_tag(:sort, "desc") %>
    <%= label_tag(:sort_desc, "Newest First") %>
    <%= submit_tag ("Sort") %><br>
  <% end %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th colspan="3">Actions</th>
  </tr>
 
    <% @articles.order("created_at #{params[:sort]}").each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><% if article.user %>
              <%= article.user.name %>
            <% end %>
        </td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy',
                                  article_path(article),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
