<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>


<body>
    <%= image_tag(@article.image, width: '400px') if @article.image.attached? %>
</body>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>