<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>


<div style="width:200px; height:200px">
    <%= image_tag(@article.image) if @article.image.attached? %>
</div>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>
<%= link_to 'Favorite', article_path %>